@use 'variables' as v;

// Resett Basico

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: v.$font-family-base;
    background-color: v.$bg-body;
    color: v.$color-text-dark;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
}